/* Affects entire document */
html {
    scroll-behavior: smooth; /* This ensures that the page scrolling is smooth when the nav bar is clicked */
}

body, html {
    height: 100%;
}

body {
    margin: 0%;
    letter-spacing: .2vw;
    font-family: Avant Garde, Helvetica;
    font-size: 1.5vw;
}

* {
    box-sizing: border-box;
}

.bg-image {
    /* the image used */
    background-image: url(./images/white-background.jpg);

    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text h1 {
    font-size: 14px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid black; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives the scrolling effect as the typing happens */
    letter-spacing: .15em;
    -webkit-animation: type 5s steps(40);
    animation: 
        type 4s steps(40),
        blink-caret .75s step-end 5;
    background-color: rgb(255, 255, 255); 
    background-color: rgb(255, 255, 255);
    color: black;
    font-weight: bold;
    /* border: 3px solid #f1f1f1; */
    position: absolute;
    display: inline-block;
    width: 30%;
    padding: 20px;
    text-align: center;
}

.bg-text h1:nth-child(1) {
    position: absolute;
    display: inline-block;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.bg-text h1:nth-child(2) {
    position: absolute;
    display: inline-block;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.bg-text h1:nth-child(2) {
    white-space:nowrap;
    overflow: hidden;
    opacity: 0;
    -webkit-animation: type 4s steps(40, end);
    animation: 
    type2 4s steps(40, end),
    blink-caret .75s step-end 10;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

/* The typing effect */
@keyframes type {
    from {width: 0; }
}

@-webkit-keyframes type {
    from {width: 0; }
}

 span {
    animation: blink 1s 5;
} 

@keyframes type2 {
    0%{width: 0;}
    from {opacity: 0;}
    1%{opacity: 1;}
    to{opacity: 1;}
    100%{opacity: 1;}
}

@-webkit-keyframes type2 {
    0%{width: 0;}
    from {opacity: 0;}
    1%{opacity: 1;}
    to{opacity: 1;}
    100%{opacity: 1;}
} 

/* the typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: black }
    50% { border-color: transparent }
}



/* Table - this section covers the styling of the columns and rows within our table */
* { /* The asterisk is a universal selector that applies this effect to all elements on the page */
    box-sizing: border-box;
}
.column_1 {
    float: left;
    width: 50%; /* This ensures on column taking up half the page width */
    padding: 1.6%;
    background-color: #f2f2f2;
    height: 500px; /* You may need to adjust this to fit your content */
}

.column_2 {
    float: left;
    width: 50%;
    padding: 1.6%;
    height: 500px;
    background-color: #4d4d4d;
}

.row:after { /* This inserts something after the content of the selected elements */
    content: ""; /* By leaving this blank, we are allowing the footer (covered lower down) to be displayed - removing it makes the footer overwrite a column */
    display: table; /* The display property sepecifies the type of display behavior; the table value tells the browseer to treat the element as a table */
    clear: both; /* This clears any other elements from floating on the left or the right of an element */
}
