/* Affects entire document */
html {
    scroll-behavior: smooth; /* This ensures that the page scrolling is smooth when the nav bar is clicked */
}

body, html {
    height: 100%;
}

body {
    margin: 0%;
    letter-spacing: .2vw;
    font-family: Avant Garde, Helvetica;
    font-size: 1.5vw;
    background-color: whitesmoke;
}

.navbar {
    overflow: hidden; /* This ensures that any content that overflows beyond the boundary of the nav bar is not displayed */
    background-color: whitesmoke; /* This colors the navbar black */
    position: fixed; /* This keeps the navbar at the top of the screen as we scroll */
    top: 0; 
    width: 100%; /* This makes the navbar span the entire width of the page */
    z-index: 100;
    opacity: 1;
}

/* Navbar hover effect */
.navbar a {
    float: left;
    display: block;
    color: black;
    padding: .75vw 1vw; /* This adds padding around our navbar */
    text-decoration: none; /* This gets rid of the underlines under the text on our navbar */
    font-family: Avant Grade, Helvetica;
    font-size: 1.5vw;
    text-align: center;
    position: relative;
}

.navbar a:hover {
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition-duration: .75s;
    transition-duration: .75s;

}

* {
    box-sizing: border-box;
}

.bg-image {
    /* the image used */
   background-image: url(./images/plant_background.jpg); 
   background-color: whitesmoke;

    /* Add the blur effect */
    filter: blur(1.5px);
    -webkit-filter: blur(1.5px);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text p {
    font-size-adjust: unset;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid black; /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives the scrolling effect as the typing happens */
    letter-spacing: .15em;
    -webkit-animation: type 4s steps(40, end);
    animation: 
        type 3s steps(40, end),
        blink-caret .75s step-end 3;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    font-weight: bold;
    /* border: 3px solid #f1f1f1; */
    position: absolute;
    display: inline-block;
    padding: 5px;
    text-align: center;
}

.bg-text p:nth-child(1) {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    top: 50%;
    left: 50%;
    width: 20%;
    transform: translate(-50%, -50%);
    z-index: 2;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.bg-text p:nth-child(2) {
    position: absolute;
    display: inline-block;
    top: 55%;
    left: 50%;
    width: 27%;
    transform: translate(-50%, -50%);
    z-index: 2;
    white-space:nowrap;
    overflow: hidden;
    opacity: 0;
    -webkit-animation: type 4s steps(40, end);
    animation: 
    type2 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

/* The typing effect */
@keyframes type {
    from {width: 0; }
    from {opacity: 0;}
    1%{opacity: 1;}
    to{opacity: 1;}
    100%{opacity: 1;}
}

@-webkit-keyframes type {
    from {width: 0; }
    from {opacity: 0;}
    1%{opacity: 1;}
    to{opacity: 1;}
    100%{opacity: 1;}
}

 span {
    animation: blink 1s;
} 

@keyframes type2 {
    0%{width: 0;}
    from {opacity: 0;}
    1%{opacity: 1;}
    to{opacity: 1;}
    100%{opacity: 1;}
}

@-webkit-keyframes type2 {
    0%{width: 0;}
    from {opacity: 0;}
    1%{opacity: 1;}
    to{opacity: 1;}
    100%{opacity: 1;}
} 

/* the typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
}

/* Table - this section covers the styling of the columns and rows within our table */
* { /* The asterisk is a universal selector that applies this effect to all elements on the page */
    box-sizing: border-box;
}
.column_1 {
    float: left;
    width: 50%; /* This ensures on column taking up half the page width */
    padding: 1.6%;
    background-color: whitesmoke;
    height: 500px; /* You may need to adjust this to fit your content */
}

.column_2 {
    float: left;
    width: 50%;
    padding: 1.6%;
    height: 500px;
    background-color: rgb(175, 175, 175)
}

.row:after { /* This inserts something after the content of the selected elements */
    content: ""; /* By leaving this blank, we are allowing the footer (covered lower down) to be displayed - removing it makes the footer overwrite a column */
    display: table; /* The display property sepecifies the type of display behavior; the table value tells the browseer to treat the element as a table */
    clear: both; /* This clears any other elements from floating on the left or the right of an element */
}
/* Image elements */ 
img {
    filter: grayscale(65%);
    border-radius: 8px; /* This causes our images to have slightly rounded edges */
    max-width: 100%;
    height: 100%;
    margin: auto auto auto auto;
    display: block;
    padding-left: 10%;
    padding-right: 10%;
}

/* Anchor elements */ 
a {
    color: blue; /* We are ensuring all links are blue */ 
}

/* Paragraph elements */
p {
    font-family: Perpetua, Rockwell Extra Bold;
    text-align: justify;
    letter-spacing: .1vw; /* This expands the text align slightly */
    padding-left: 1vw;
    padding-right: 1vw;
}


h1 {
    text-transform: uppercase; /* We are capitalizing our headings */
    font-family: "Trebuchet MS", Optima;
    text-align: center;
    margin-top: 3%; /* I'm adding a small margin above the headings */
    color: #1a1a1a;
}


img:hover {
    filter: grayscale(5%);  /* Brings back most of the image's color when hovered over */
    transition: transform 1s;
    transform: scale(1.1);
    padding-top: .01%;
    padding-bottom: .01%;
}

footer {
    padding: 2%;
    background-color: white;
}

#myBtn {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 99;
    display: none;
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 10px;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg); 
    position: fixed;
    bottom: 20px;
    right: 30px;
    background-color: gray;
    opacity: .5;
    cursor: pointer;
    color: white;
    text-align: center;
    text-decoration: none;
}

#myBtn:hover {
    opacity: 1;
    background-color: gray;
    color: white;
}

